.test {
    background-color: #003f54;
    height: 20px;
}

body {
    height: 1000px;
    background-color: #ffffff;
}

.container{
    padding-top: 20px;
    padding-bottom: 30px;
}

.element-center {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.container.odd {
    background-color: #bfc3cc;
}

.container.even {
    background-color: #fafafa;
}

/* TOP BAR */
.top-bar, .sticky.fixed {
    background-color: #003f54;
}

.sticky.fixed ul li a {
    color: #fffffc;
}

.top-bar ul li a {
    background-color: #003f54 !important;
}

.top-bar ul li.active a {
    background-color: #61b6d9 !important;
}

.sticky:not(.fixed) li {
    margin-left: 9px;
}

#logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

.header h1 {
    text-align: right;
}

.logonav {
    margin-bottom: 30px;
}

/* SMALL SCREEN */
@media only screen and (max-width: 40em) {
    .header h1 {
        text-align: center;
    }

    .title-area li {
        background-color: #003f54;
    }
}

/* MEDIUM SCREEN and up */
@media only screen and (min-width: 40.063em) {
    .top-bar {
        background-color: transparent;
    }

    .top-bar ul li {
        background-color: transparent !important;
    }

    .top-bar ul li a {
        color: #222222;
        background-color: transparent !important;
    }
}

/* LARGE SCREEN and up */
@media only screen and (min-width: 64.063em) {
    .sticky.fixed ul {
        margin-right: 100px;
    }
}

/* XLARGE SCREEN and up */
@media only screen and (min-width: 90.063em) {

}